/*//1140*/
/*1024*/
/*992*/
/*768*/
/*576*/
/*450*/
/*414*/
/*400*/
/*380*/
/*375*/
/*360*/
/*320*/
@media (max-width: 1024px) {
    .menuAdap {
        width: 294px;
    }
    .contact {
        width: 57%;
    }
}
@media (max-width: 992px) {
    #LogoDom {
        width: 100%;
    }
}
@media (max-width: 768px) {
    .LogoDom h2 {
        font-size: 19px;
    }
    .menu a {
        font-size: 12px;
    }
    .btn {
        width: 149px;
        font-size: 12px;
    }
    .user {
        width: 31px;
        height: 32px;
    }
    .progect h3 {
        margin-left: 52px;
    }
    .progect h2 {
        font-size: 46px;
    }
    .progect h4 {
        font-size: 18px;
        margin-left: 287px;
        margin-top: -86px;
    }
}
@media (max-width: 576px) {
    .menuAdap {
        display: none;
    }
    .progect h2 {
        width: 479px;
    }
    .progect h4 {
        width: 241px;
    }
    #menuBurger{
        display: block;
    }
    .LogoDom {
        width: 87%;
    }
}
@media (max-width: 450px) {
    .contact {
        display: none;
    }
    .progect h2 {
        width: 344px;
    }
    .progect h4 {
        margin-left: 41px;
    }
}
@media (max-width: 414px) {
    .line {
        height: 0;
    }
    .progect h2 {
        font-size: 36px;
        width: 319px;
    }
}
@media (max-width: 360px) {
    .progect h2 {

        width: 290px;
    }
}